[Unit]
Description=My Payload Instance
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/var/www/astro-payload/payload-instance/serve.sh
User=root

[Install]
WantedBy=multi-user.target