---
import FeatSimpleThreeCol from "@astro-default/components/TailwindPlus/Feature/FeatSimpleThreeCol.astro";
import CareerHeroSection from "@astro-default/components/TailwindPlus/HeaderSections/CareerHeroSection.astro";
import HeroWithOffsetImg from "@astro-default/components/TailwindPlus/Hero/HeroWithOffsetImg.astro";
import DefaultLayout from "@astro-default/layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <h1>HeroWithOffsetImg</h1>
  <HeroWithOffsetImg
    title={"This is a title"}
    subtitle={"This is a subtitle"}
    buttonLabel={"Button Label"}
    buttonHref={"#"}
    subActionLabel={"Sub Label"}
    subActionHref={"#"}
    images={[
      "https://picsum.photos/200",
      "https://picsum.photos/200",
      "https://picsum.photos/200",
      "https://picsum.photos/200",
      "https://picsum.photos/200",
    ]}
  />
  <h1>CareerHeroSection</h1>
  <CareerHeroSection />
  <h1>FeatSimpleThreeCol</h1>
  <FeatSimpleThreeCol
    title="Title"
    subtitle="subtitle"
    topCaption="top caption"
    columns={[
      {
        actionHref: "#",
        actionLabel: "action",
        caption: "Caption",
        icon: "lucide:biceps-flexed",
        title: "title",
      },
      {
        actionHref: "#",
        actionLabel: "action",
        caption: "Caption",
        icon: "lucide:biceps-flexed",
        title: "title",
      },
      {
        actionHref: "#",
        actionLabel: "action",
        caption: "Caption",
        icon: "lucide:biceps-flexed",
        title: "title",
      },
    ]}
  />
</DefaultLayout>
