---
import type { BlockType } from "../RenderBlock.astro";

interface Props {
  block: BlockType;
}

const { block } = Astro.props;

const isHero = block.blockType === "hero";
---

{
  isHero && (
    <div>
      <div>{block.headline}</div>
      <div>{block.subheadline}</div>
      <div>{block.cta?.label}</div>
      <div>{block.cta?.url}</div>
    </div>
  )
}
