---
import CogueLayout from "@astro-cogue/layouts/CogueLayout.astro";
import { payloadQuery } from "@astro-cogue/utils/payloadQuery";

const articlesResponse = await payloadQuery.find({
  collection: "articles",
});
const articles = articlesResponse.docs;
---

<CogueLayout title="Articles">
  <div>Articles</div>
  {
    articles.map((article) => (
      <a href={`/articles/${article.slug}`}>{article.title}</a>
    ))
  }
</CogueLayout>
