---
import DefaultLayout from "@astro-default/layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div class="content-wrapper">
    <h1>Welcome to the Default Astro site.</h1>
  </div>
</DefaultLayout>
<style>
  .content-wrapper {
    padding: 1rem;
  }
</style>
