---
import QuineSiteHeader from "@/components/QuineSiteHeader.astro";
import "@/styles/global.css";

const { title = "Quine Systems" } = Astro.props;
---

<!doctype html>
<!-- <html lang="en" class="dark"> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- google fonts start -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Belanosima:wght@400;600;700&family=Charm:wght@400;700&family=Cookie&family=Geist:wght@100..900&family=Quintessential&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&family=Syne+Tactile&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap&"
      rel="stylesheet"
    />
    <!-- google fonts end -->
  </head>
  <body>
    <QuineSiteHeader class="header" />
    <main class="content">
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  html {
    --content-padding-x: 2rem;
    --scrollbar-width: 15px;
    --vw-safe: calc(100dvw - var(--scrollbar-width));
    --side-margins: calc(2 * var(--content-padding-x));
    --content-width: min(calc(var(--vw-safe) - var(--side-margins)), 1440px);
    --content-scale: calc(var(--content-width) * 0.01);

    --color-fg: #222;
    --color-bg: #e6e0dd;

    font-size: 16px;
    // font-family: "Spline Sans Mono";
    font-family: "DM Sans";
    background: var(--color-bg);
    color: var(--color-fg);
  }

  @media (max-width: 1439.99px) {
    html {
      font-size: 16px;
    }
  }
  @media (max-width: 678px) {
    html {
      font-size: 16px;
      --content-padding-x: 1rem;
    }
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  body {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    filter: invert(1);
    mix-blend-mode: difference;
    z-index: 100;
  }

  .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
</style>

<style is:global lang="scss"></style>
