---
import { HeroLettersBig } from "./HeroLettersBig";
import { HeroLettersSmall } from "./HeroLettersSmall";
---

<div class="big">
  <HeroLettersBig client:only />
</div>
<div class="small">
  <HeroLettersSmall client:only />
</div>

<style>
  .big {
    display: block;
  }
  @media (max-width: 867px) {
    .big {
      display: none;
    }
  }
  .small {
    display: none;
  }
  @media (max-width: 867px) {
    .small {
      display: block;
    }
  }
</style>
