---
import "@astro-default/styles/global.css";

const { title = "Astro" } = Astro.props;
---

<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="nav-wrapper">
      <nav>
        <a href="/">Home</a>
        <a href="/tailwind-components">Tailwind Components</a>
      </nav>
    </div>
    <slot />
  </body>
</html>

<style lang="scss">
  html,
  body {
    margin: 0;
    overscroll-behavior: none;
  }

  body {
    display: flex;
    flex-flow: column nowrap;
  }
  .nav-wrapper {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  nav {
    height: 48px;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    background: rgb(55, 55, 105);
    color: white;
  }
</style>
