---
import DefaultLayout from "@_default/layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div>this is the default site</div>
  <ul>
    <a class="text-blue-600 underline" href="/tailwind-components">
      tailwind components
    </a>
  </ul>
</DefaultLayout>
