---

---

<div class="letters">Quine Systems</div>
<style>
  .letters {
    font-family: "Quintessential";
    font-size: calc(var(--content-width) * 0.173);
    white-space: nowrap;
    line-height: 1.5;
  }
</style>
