---
import type { HTMLAttributes } from "astro/types";
import { cls } from "rengwutils";

interface Props extends HTMLAttributes<"div"> {
  noMargin?: boolean;
}
const { noMargin, ...restProps } = Astro.props;
---

<div
  class={cls("text", !noMargin && "margin", restProps.class ?? false)}
  {...restProps}
>
  <slot />
</div>

<style define:vars={{}}>
  .text {
    font-family: "Alegreya";
    font-size: 2.5rem;
    line-height: 1.15;
  }

  .margin {
    margin-bottom: 1.25rem;
  }

  @media (max-width: 978px) {
    .text {
      font-size: 2rem;
    }
  }
  @media (max-width: 768px) {
    .text {
      font-size: 1.75rem;
    }
  }
</style>
