---
import type { HTMLAttributes } from "astro/types";
import { cls } from "rengwutils";

interface Props extends HTMLAttributes<"div"> {
  noMargin?: boolean;
}
const { noMargin, ...restProps } = Astro.props;
---

<div
  class={cls("text", !noMargin && "margin", restProps.class ?? false)}
  {...restProps}
>
  <slot />
</div>

<style>
  .text {
    font-family: "DM Sans";
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .margin {
    margin-bottom: 1.75rem;
  }

  @media (max-width: 978px) {
    .text {
      font-size: 1.1rem;
    }
  }
  @media (max-width: 768px) {
    .text {
      font-size: 1rem;
    }
  }
</style>
