---
import type { HTMLAttributes } from "astro/types";
import { cls } from "rengwutils";

interface Props extends HTMLAttributes<"div"> {}
const { ...restProps } = Astro.props;
---

<div class={cls("text", restProps.class ?? false)} {...restProps}>
  <slot />
</div>

<style>
  .text {
    font-family: "Alegreya";
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 978px) {
    .text {
      font-size: 1.85rem;
    }
  }
  @media (max-width: 768px) {
    .text {
      font-size: 1.7rem;
    }
  }
</style>
