---
import SectionBodyText from "./SectionBodyText.astro";
import SectionHeaderTextSmaller from "./SectionHeaderTextSmaller.astro";

const services = [
  {
    title: "How it helps",
    description:
      "We help you create a memorable first impression for the right audience that reflects the quality of your offering and the ambitions of your company.",
  },
  {
    title: "Who are we for",
    description:
      "We deliver the most value when helping new and existing ventures to (re)shape their brand and digital presence. Typically across tech, lifestyle and finance.",
  },
  {
    title: "When to engage",
    description:
      "You’re ready to invest in safeguarding your business from being indistinct, ineffective and falling short of customer expectations, both online and offline.",
  },
  {
    title: "What it costs",
    description:
      "We avoid the traditional agency model of hourly billing. Instead, we offer transparent, flat-rate pricing packages to suit a range of budgets and business sizes.",
  },
];
---

<div class="servicesContainer">
  {
    services.map((s, i) => {
      return (
        <div class="card" style={{ "--offset": `${i * 3}rem` }}>
          <div class="visuals" />
          <div class="descriptions">
            <SectionHeaderTextSmaller>{s.title}</SectionHeaderTextSmaller>
            <SectionBodyText noMargin>{s.description}</SectionBodyText>
          </div>
        </div>
      );
    })
  }
</div>
<style define:vars={{ cardHeight: 24 }}>
  .servicesContainer {
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    gap: 12rem;

    margin-top: calc(calc(var(--cardHeight) * 1rem) / 2);
    margin-bottom: calc(calc(var(--cardHeight) * -1rem) / 2);
    max-width: 800px;
    border: 1px solid red;
  }

  .card {
    position: sticky;
    top: 50vh;
    transform: translateY(calc(calc(var(--cardHeight) * -1rem) / 2));

    height: calc(var(--cardHeight) * 1rem);

    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;

    /* border: 1px solid black; */
    background: var(--color-bg);
  }

  .visuals {
    height: 100%;
    aspect-ratio: 1;
    background: grey;
  }
  .descriptions {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 42rem;
    width: 100%;

    padding: 1rem;
  }

  /* desktop */
  /* @media (min-width: 1024px) {
  } */
</style>

<!-- 
<div class="container">
  {
    services.map((s) => {
      return (
        <div class="card">
          <div class="visuals">
            <div
              style={{ height: "100%", aspectRatio: 1, background: "red" }}
            />
          </div>
          <div class="descriptions">
            <SectionHeaderTextSmaller>{s.title}</SectionHeaderTextSmaller>
            <SectionBodyText noMargin>{s.description}</SectionBodyText>
          </div>
        </div>
      );
    })
  }
</div> -->

<!-- <style>
  .container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .card {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
  }

  .visuals {
    height: 12rem;
  }

  .descriptions {
    display: flex;
    flex-flow: column nowrap;
    max-width: 36rem;
    padding: 2rem;
  }

  /* desktop */
  @media (min-width: 1024px) {
  }
</style> -->
