---
import { cls } from "rengwutils";
import SectionBodyText from "./SectionBodyText.astro";
import SectionHeaderTextSmaller from "./SectionHeaderTextSmaller.astro";
import SectionCaptionText from "./SectionCaptionText.astro";
import SectionHeaderText from "./SectionHeaderText.astro";

const services = [
  {
    title: "How it helps you",
    description:
      "We help you create a memorable first impression for the right audience that reflects the quality of your offering and the ambitions of your company.",
  },
  {
    title: "Who are we for",
    description:
      "We deliver the most value when helping new and existing ventures to (re)shape their brand and digital presence. Typically across tech, lifestyle and finance.",
  },
  {
    title: "When to engage us",
    description:
      "You’re ready to invest in safeguarding your business from being indistinct, ineffective and falling short of customer expectations, both online and offline.",
  },
  {
    title: "What it costs",
    description:
      "We avoid the traditional agency model of hourly billing. Instead, we offer transparent, flat-rate pricing packages to suit a range of budgets and business sizes.",
  },
];
---

<div class="servicesContainer">
  <div class="sectionTitle">
    <SectionHeaderText>Working with us</SectionHeaderText>
  </div>
  <div class="tableContainer">
    <div class="spacer"></div>
    <div class="table">
      {
        services.map((s, i) => {
          const isEven = i % 2 == 0;
          return (
            <div class={cls("tableRow", isEven && "even")}>
              <div class="tableContent">
                <div class="caption">
                  <SectionCaptionText>{s.title}</SectionCaptionText>
                </div>
                <div class="desc">
                  <SectionBodyText>{s.description}</SectionBodyText>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
<style>
  .servicesContainer {
    width: 100%;
  }
  .sectionTitle {
    margin-bottom: 4rem;
  }
  @media (max-width: 672px) {
    .sectionTitle {
      margin-bottom: 2rem;
    }
  }
  .tableContainer {
    display: flex;
    flex-flow: row nowrap;
  }
  .spacer {
    flex-grow: 1;
  }
  .table {
    position: relative;
    width: 100%;
    max-width: 75rem;
    flex-shrink: 0;

    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  @media (max-width: 672px) {
    .table {
      gap: 1rem;
    }
  }

  .tableRow {
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid black;
    padding-top: 1rem;
  }

  .tableContent {
    display: flex;
    flex-flow: row nowrap;
  }
  @media (max-width: 672px) {
    .tableContent {
      flex-flow: column nowrap;
    }
  }

  .caption {
    width: 100%;
    max-width: 18rem;
    margin-top: 0.25rem;
  }

  .desc {
    max-width: 55rem;
    flex-shrink: 1;
    text-wrap-style: pretty;
  }
</style>
