---
import { Image } from "astro:assets";

import brandPlaceholder from "@astro-cogue/assets/images/brandPlaceholderWhite.svg";
import { payloadQuery } from "@astro-cogue/utils/payloadQuery";

const navItemsResp = await payloadQuery.find({
  collection: "pages",
  where: { includeInNav: { equals: true } },
});
const navItems = navItemsResp.docs;
---

<div class="header">
  <a href="/"><Image src={brandPlaceholder} alt="Logo" /></a>
  <nav>
    {navItems.map((ni) => <a href={`/${ni.slug}`}>{ni.title}</a>)}
    <a href={`/articles`}>Articles</a>
  </nav>
</div>

<style>
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
  }

  .header img {
    height: 32px;
    width: fit-content;
    image-rendering: auto;
  }
  nav {
    color: white;
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
  }

  nav a {
    font-size: smaller;
    font-weight: 500;
  }
</style>
