---
import { Image } from "astro:assets";

import brandPlaceholder from "@astro-cogue/assets/images/brandPlaceholderWhite.svg";
import { payloadQuery } from "@astro-cogue/utils/payloadQuery";

const navItemsResp = await payloadQuery.find({
  collection: "pages",
  where: { includeInNav: { equals: true } },
});
const navItems = navItemsResp.docs;
---

<div class="header">
  <div class="content">
    <a class="logo" href="/">
      <svg
        width="50"
        height="30"
        viewBox="0 0 50 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M43 31L31 40H5L7 35L12 31H29L32 35L40 11L45 7H50L43 31ZM43 5L38 9H21L18 5L10 29L5 33H0L7 9L19 0H45L43 5ZM24 13H35L29 31L26 27H15L21 9L24 13Z"
          fill="#fdfdff"></path>
      </svg>
    </a>
    <nav>
      {navItems.map((ni) => <a href={`/${ni.slug}`}>{ni.title}</a>)}
      <a href={`/#`}>Home</a>
      <a href={`/#`}>Services</a>
      <a href={`/#`}>Blog</a>
      <a href={`/#`}>Our Company</a>
      <a href={`/#`}>Careers</a>
    </nav>
  </div>
</div>

<style>
  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 64px;
    width: 100%;
    padding: 0.5rem 2rem;
  }

  .content {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1220px;
  }

  .logo {
    position: absolute;
    left: 0;
  }
  nav {
    color: white;
    display: flex;
    gap: 2rem;
  }

  nav a {
    font-size: 0.9rem;
    font-weight: 500;
  }
</style>
